In [7]:
#Q1
def num(a):
    if a in range(0,100):
        return True
    else:
        return False
num(45)

'inside range'

In [11]:
#Q2
def hello(a):
    lcase=0
    ucase=0
    for x in a:
        y=x
        if x.lower()== y:
            lcase += 1
        else:
            ucase += 1
    return lcase,ucase
lc,uc = hello("SadiKshyA")
print(lc,uc)

6 3

In [4]:
#Q3
name = input("Enter a name: ")
name = name.title()
print(f"Hello, {name}")

Enter a name: arthur gun
Hello, Arthur Gun

In [10]:
#Q4
def name(a):
    remove = a[0:-1]
    return remove

iden = input("Enter a name: ")
removed = name(iden)
print(removed)

Enter a name: aarjan adhi
aarjan adh

In [19]:
#Q5
def temp(f):
    c = (f - 32)*(5/9)
    return c
def temp_1(c):
    f = c * (9/5) + 32
    return f
c = temp(78)
f = temp_1(45)
print(f"The temperature in celsius to fahrenheit is: {c}")
print(f"The temperature in fahrenheit to celsius is: {f}")

The temperature in celsius to fahrenheit is: 25.555555555555557
The temperature in fahrenheit to celsius is: 113.0

In [17]:
#Q6
def temp(f):
    remove = (float(f[0:-1]))
    f = remove * (9/5) + 32
    return c
c = temp("89C")
print(str(c)+"F")

31.666666666666668F

In [20]:
#Q7

from statistics import mean
val = []
for i in range(6):
    temp = float(input("Enter your values: "))
    val.append(temp)
minimum = min(val)
maximum = max(val)
me_an = mean(val)
print(f" The minimum temperature is {minimum}")
print(f" The maximum temperature is {maximum}")
print(f" The me_an is {me_an}")

Enter your values: 45
Enter your values: 67
Enter your values: 78
Enter your values: 98
Enter your values: 32
Enter your values: 20
 The minimum temperature is 20.0
 The maximum temperature is 98.0
 The me_an is 66.5

In [4]:
#Q8
from statistics import mean
val = []
while True:
    temp =(input("Enter your values: "))
    if len(temp) == 0:
        break
    else:
        val.append (float(temp))
minimum = min(val)
maximum = max(val)
me_an = mean(val)
if len(val)>0:
    print(f" The minimum temperature is {minimum}")
    print(f" The maximum temperature is {maximum}")
    print(f" The me_an is {me_an}")

Enter your values: 67
Enter your values: 76
Enter your values:
 The minimum temperature is 67.0
 The maximum temperature is 76.0
 The me_an is 71.5

Thankyou!