In [2]:
#Q1
print("Hello world!")

hello world!

In [4]:
#Q2
name = "sadikshya!"
print(f"Hello {name}")

Hello sadikshya!

In [12]:
#Q3
celsius = 38.4
Fahrenheit_Temperature = (1.8 * celsius) + 32
print(f"Temperature in celsius is: {celsius}")
print(f"Temperature in fahrenheit is: {Fahrenheit_Temperature}")

Temperature in celsius is: 38.9
Temperature in fahrenheit is: 102.02

In [20]:
#Q4
Matches_played= 609
Batted = 1014
Not_out = 162
Scored = 48426
Batting_average =Scored/(Batted-Not_out)
print(f"The Batting average of the man is: {Batting_average} in {Matches_played} matches.")

The Batting average of the man is: 56.83802816901409 in 609 matches.

In [7]:
#Q5
Num_1 = 113
Num_2 = 175
Num_3 = 12
group_1 = Num_1//24
group_2 = Num_2//24
group_3 = Num_3//24
total = group_1 + group_2 + group_3
rem_1 = Num_1 % 24
rem_2 = Num_2 % 24
rem_3 = Num_3 % 24
total_rem = rem_1 + rem_2 + rem_3
print(f"The total number of students in a group is: {total}")
print(f"The remaining numbers of student in group 1 is: {total_rem}")

The total number of students in a group is: 11
The remaining numbers of student in group 1 is: 36

Thankyou!