What is the data-type of the result when evaluating comparison (relational) expressions such
as < and >?
Boolean

In [1]:
#For each of the following expressions write the result of their evaluation.
100 < 101

True

In [2]:
100 > 99

True

In [5]:
100 >=100

True

In [6]:
100!=100

False

In [7]:
"abc"<"xyz"

True

In [8]:
"abc"<"XYZ"

False

In [11]:
"100" == 100

False

In [12]:
10>20 and 10>=10

False

In [13]:
10>30>20

False

In [14]:
40<20 or 20<30

True

In [15]:
not True

False

In [16]:
#What would be the output shown following the execution of the following Python statements?
colours = [ "Blue", "Black", "Orange" ]
print("The colour black is in the list : ", "Black" in colours)

The colour black is in the list :  True

In [17]:
print("The colour orange is in the list : ", "orange" in colours)

The colour orange is in the list :  False

Which of the following concepts does the Python ‘if’ statement support?
Sequence, Selection or Iteration?
Ans = Selection

In [19]:
#What would be the output shown following the execution of the following Python statements?
num1 = 100
num2 = 10
if num1 % num2 == 0:
    print("num1 is divisible by num2")
else:
    print("num1 is not divisible by num2")

num1 is divisible by num2

In [20]:
num1 = 99
num2 = 70
if num1 < num2:
    print("num1 is less than num2")
elif num1 > num2:
    print("num1 is greater than num2")
else:
    print("num1 is equal to num2")

num1 is greater than num2

What is the name given to the following type of Python operator shown below?
lowest = x if x < y else y
Ans = It is ternary operation.

And, what value would be assigned to the variable ‘lowest’ when ‘x’ was equal to 10 and
‘y’ was equal to 5?
Ans = y

In [25]:
# Within the answer box below write a small Python program, that asks the user to enter a
# value between 1 and 10.
# Once the value has been input display a message saying whether the value was in the
# requested range.
# Remember: values returned from the input() function are strings, and need converting
# before being used within expressions, i.e. you will need code such as this -

num = input("please enter a number between 1 and 10 : ")
num = int(num)
if num>10:
    print("The number is not between range.")

please enter a number between 1 and 10 : 11
The number is not between range.

In [4]:
x = float(input("Enter the value for x: "))
y = float(input("Enter the value for y: "))

if x > y:
    print(f"The value {x} is larger than the value {y}.")
else:
    print(f"The value {y} is larger than the value {x}.")

Enter the value for x: 4
Enter the value for y: 6
The value 6.0 is larger than the value 4.0.

In [14]:
# Within the answer box below write a small Python program that asks the user to enter two
# values.
# Store these values in two variables then output a message displaying the result of dividing
# the first value by the second value.
# Include code that prevents a run-time error being reported when the user inputs a value of '0'
# for the second input. Hint: use an ‘if’ statement.
    
x = float(input("Enter the value for x: "))
y = float(input("Enter the value for y: "))

z = x/y
print(z)

if x==0 or y==0:
    print("division by 0 is not possible")

Enter the value for x: 0
Enter the value for y: 8
0.0
division by 0 is not possible

Which of the following concepts does the Python while statement support?
Sequence, Selection or Iteration?
Ans = Iteration.

In [1]:
#What would be the output shown following the execution of the following Python statements?
num = 5

while num > 0:
    print(num)
    num -= 1

5
4
3
2
1

In [ ]:
count = 0

while count < 100:
    print("sadikshya")

In [2]:
#What would be the output shown following the execution of the following Python statements?
vals = ["A", "B", "C", "D"]

for letter in vals:
    print(letter)

A
B
C
D

In [4]:
#What would be the output shown following the execution of each of the following Python statements?
for num in range(5):
    print(num)

0
1
2
3
4

In [3]:
for num in range(10,16):
    print(num)

10
11
12
13
14
15

In [6]:
for num in range(0,10,-1):
    print(num)

In [5]:
for x in range(1,10):
    for y in range (1,x):
        print("*")
    print()

*

*
*

*
*
*

*
*
*
*

*
*
*
*
*

*
*
*
*
*
*

*
*
*
*
*
*
*

*
*
*
*
*
*
*
*

What is the term used to refer to code blocks that appear inside other code blocks as in the
above program?
Nested loop.